---
import "../styles/global.scss";
import styles from './blog.module.scss';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import GridPost from '../components/GridPost/GridPost.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<Layout>
  <main class={styles.section_blog}>
    <div class={styles.section_blog__container}>
      <div class={styles.section_blog__header}>
        <span class={styles.section_blog__subtitle}>Blog</span>
        <h1 class={styles.section_blog__title}>Acompanhe nossas atualizações</h1>
      </div>
      <nav>
        <ul class={styles.section_blog__nav}>
          <li class={styles.section_blog__navItem}><a href={`/blog`}>Todas as categorias</a></li>
          <li class={styles.section_blog__navItem}><a href={`/category_slug/criminal`}>Criminal</a></li>
          <li class={styles.section_blog__navItem}><a href={`/category_slug/trabalhista`}>Trabalhista</a></li>
          <li class={styles.section_blog__navItem}><a href={`/category_slug/familiar`}>Familiar</a></li>
        </ul>
      </nav>
    <GridPost posts={sortedPosts} />
    </div>
  </main>
</Layout>